* {
  margin: 1px;
}
#header-container {
  display: flex;
  flex-direction: column;
}
#logo-container {
  flex: 1;
  margin-bottom: 10px;
}
#logo-img {
  height: 20px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(1, 1, 1);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  border: 1px solid black;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(131, 176, 232);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(104, 153, 217);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: rgb(209, 208, 208);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
